@font-face {
  font-family: "Inter-Bold";
  src: url(/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Light";
  src: url(/fonts/Inter-Light.ttf);
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url(/fonts/Inter-ExtraBold.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #f1f7f7;
  width: 100%;
  margin: 0;
  padding: 0;
}
